*{
    box-sizing: border-box;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
    background-color: rgb(0, 119, 255);
}
div.container{
    display: flex;
    background-color: white;
    width: 400px;
    height: 400px;
    align-items: center;
    flex-flow: column wrap;
    padding-top: 5%;    
    border-radius: 5px;
}
.imagem{
    border-radius: 90px;
    background-size: contain;
    width: 50px;
}